@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background-image: url("{{ url_for('static', filename='login4.jpg') }}");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* The rest of your CSS styles */


.container {
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color:rgba(0, 0, 0, 0.543);
}

form {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 600px;
    padding: 1rem;
}

input[type="text"],
button {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #73b8dda1;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h4 {
    text-align: center;
}

input{
background: rgba(0, 0, 0, 0);
    border: 1px solid whitesmoke;
    font-weight: 400;
    color: aliceblue;
    letter-spacing: 2px;
    }
